a {
  color: var( --black );
  background-color: transparent;
  text-decoration: none;
  transition: color 500ms;

  i {
    color: inherit;
  }

  &:hover, &:focus, &:active {
    color: var( --red );
    text-decoration: none;
  }
}

.btn-transp {
  border: 0px;
  border-radius: $defRadius;
  padding: $btnPadding;
  background: transparent;

  i,
  .icon {
    margin-right: 8px;
  }
}
