$baseSize: 16px;
$baseLine: 26px;

$smallSize: 12px;
$smallLine: 22px;

$h4: 20px;
$h4Line: 32px;

$h3: 24px;
$h3Line: 40px;

$h2: 32px;
$h2Line: 52px;

$h1: 40px;
$h1Line: 54px;

// --------------------------------- //

*, html, body, h1, h2, h3 h4, h5, h6 {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var( --black );
  font-size: $baseSize;
  line-height: $baseLine;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.h1 {
  font-size: $h1;
  line-height: $h1Line;
}

.h2 {
  font-size: $h2;
  line-height: $h2Line;
}

.h3,
.h4 {
  font-size: $h3;
  line-height: $h3Line;
}

.h5,
.h6 {
  font-size: $h4;
  line-height: $h4Line;
}

small, .small {
  color: inherit;
  font-size: $smallSize;
  line-height: $smallLine;

  b,
  i {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.bold { font-weight: bold; }
.normal { font-weight: normal; }
.light { font-weight: lighter; }
.italic { font-style: italic; }

