$mobile-sm-land:  420px;
$mobile-sm:       370px;
$mobile:          767px;
$tablet:          992px;
$desktop:         1200px;
$desktop-xl:      1350px;
$desktop-2k:      2049px;

@mixin xs-landscape { @media (max-height: $mobile-sm-land) { @content; } }

@mixin xs-and-down { @media (max-width: $mobile-sm - 1) { @content; } }

@mixin xs-and-up { @media (min-width: $mobile-sm) { @content; } }

@mixin sm-and-down { @media (max-width: $mobile - 1) { @content; } }

@mixin sm-and-up { @media (min-width: $mobile) and (min-height: $mobile-sm-land) { @content; } }

@mixin md-and-down { @media (max-width: $tablet - 1) { @content; } }

@mixin md-only { @media ( min-width: $mobile ) and ( max-width: $desktop ) { @content; } }

@mixin md-and-up { @media (min-width: $tablet) { @content; } }

@mixin lg-and-down { @media (max-width: $desktop - 1) { @content; } }

@mixin lg-and-up { @media (min-width: $desktop) { @content; } }

@mixin xl-and-down { @media (max-width: $desktop-xl - 1) { @content; } }

@mixin xl-and-up { @media (min-width: $desktop-xl) { @content; } }

@mixin xxl-and-down { @media (max-width: $desktop-2k - 1) { @content; } }

@mixin xxl-and-up { @media (min-width: $desktop-2k) { @content; } }

@mixin dark-mode { @media (prefers-color-scheme: dark) { @content; } }

// Responsive Helpers
@include xs-landscape { .hide-on-landscape { display: none !important; } }
@include sm-and-down 	{ .hide-sm-and-down { display: none !important; } }
@include md-and-down 	{ .hide-md-and-down { display: none !important; } }
@include lg-and-down 	{ .hide-lg-and-down { display: none !important; } }
@include sm-and-up 		{ .hide-sm-and-up { display: none !important; } }
@include md-and-up 		{ .hide-md-and-up { display: none !important; } }
@include lg-and-up 		{ .hide-lg-and-up { display: none !important; } }
