$area: 24px;
$smallArea:  $area / 2;
$tinyArea:   $area / 4;
$largeArea:  $area * 2;
$hugeArea:   $area * 4;

$section: 100px;
$smallSection: $section / 2;
$largeSection: $section * 2;

$defRadius: 0px;

$btnPadding: 8px 24px;

$navHeight: 60px;

/* ------------------------- */

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%bg-center {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

