<!-- <app-login></app-login> -->

<!-- <div [ngClass]="{ 'blurred': login_active }" [@routeAnimations]="getPath()"> -->

  <!-- <app-navbar></app-navbar> -->

  <div class="wrapper nooverflow">
    <router-outlet></router-outlet>
  </div>

  <!-- <app-footer></app-footer> -->

<!-- </div> -->

