// Base Theme
@import "./theme/base";
@import "./theme/responsive";
@import "./theme/colors";
@import "./theme/font";
@import "./theme/variables";
@import "./theme/animations";

@import "./theme/buttons";
@import "./theme/inputs";

/* ------------------------- */

.no-overflow {
  overflow: hidden !important;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba( black, 0.15 ) !important;

  &.sm {
    box-shadow: 0 .125rem .25rem rgba( black, 0.075 ) !important;
  }
}

body {
  background-color: var( --white );
}

@include dark-mode {
  :root {
    --black: #FFFFFF;
    --white: #212121;
  }
}
